name: Deploy Docs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - repo_url: https://github.com/qian-o/Zenith.NET
            docs_folder: documents
            output_folder: Zenith.NET

    steps:
      - uses: actions/checkout@v6

      - name: Clone Repository
        run: git clone ${{ matrix.repo_url }} source-repo

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Install Workload
        run: dotnet workload install maui

      - name: Install DocFX
        run: dotnet tool install -g docfx

      - name: Build
        run: docfx source-repo/${{ matrix.docs_folder }}/docfx.json
        continue-on-error: true

      - name: Copy Output
        run: |
          Remove-Item -Recurse -Force "${{ matrix.output_folder }}" -ErrorAction SilentlyContinue
          Copy-Item -Recurse "source-repo/${{ matrix.docs_folder }}/_site" "${{ matrix.output_folder }}"

      - name: Clean Up
        run: Remove-Item -Recurse -Force "source-repo"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: update-${{ matrix.output_folder }}-docs
          commit-message: "Update ${{ matrix.output_folder }} documentation"
          title: "Update ${{ matrix.output_folder }} documentation"
          body: "This PR updates the ${{ matrix.output_folder }} documentation."
          labels: "documentation"
